.archived {
  text-decoration: line-through;
  background: #eee;
  cursor: not-allowed;
}

.vex-dialog-input {
  font-size: 12px;
  
  .form-group {
    margin: 0;
  }
}

.xlsx-export {
  float: right;
  font-size: 13px;
}

.filter-toggle-link {
  font-size: 18px;
  margin-left: 5px;
  vertical-align: middle;
  
  &::before {
    content: ' (';
  }

  &::after {
    content: ')';
  }
}
