extends layout/admin-layout

block body
  .container
    +admin-menu('replies')
  .container
    .row.mt-4
      .col-12
        h2
          |Vastaukset
          if includeFiltered
            a.filter-toggle-link(href="?")
              |Oletusn채kym채
            a.xlsx-export(href="#", data-include-filtered=includeFiltered)
              |Vie xlsx-muodossa
          else
            a.filter-toggle-link(href="?includeFiltered=true")
              |N채yt채 kaikki
            a.xlsx-export(href="#", data-include-filtered=includeFiltered)
              |Vie xlsx-muodossa
    .row.mt-4.table-container
      .col-12
        table#formsTable
          thead
            tr
              each field in fields
                th
                  =field.title
              th(style="width:0")
          tbody
            each reply in replies
              tr(data-reply-id=reply._id)
                each field in fields 
                  td
                    case field.type 
                      when 'radio'
                        each option in field.options
                          if reply[field.name] == option.name
                            =option.text
                      default
                        =reply[field.name]
                td
                  a(href="/admin/replies/" + reply._id)
                    |Avaa