extends layout

block content
  .container-fluid
    button#menu-toggle.btn.btn-default(href='#menu-toggle') Piilota/näytä valikko
    .row.table-container
      .col-lg-12
        table#applicationTable
          thead
            tr
              th Etunimi
              th Sukunimi
              th Synt.aika
              th Osoite
              th Puhelin
              th Email
              th Aloituspvm
              th Lopetuspvm
          tbody