extends admin-layout

block content
  +admin-menu('replies')
  .row.mt-4
    .col-12
      h2
        |Vastaukset
  .row.mt-4.table-container
    .col-12
      table#formsTable
        thead
          tr
            each field in listFields 
              th
                =field.title
        tbody
          each reply in replies
            tr(data-reply-id=reply._id)
              each field in listFields 
                td
                  =reply[field.name]