extends layout/admin-layout

block custom-head-admin
  title
    |Salasanan palautus
  link(rel='stylesheet', href='/css/forgotpassword.min.css')
  script(defer='defer',src='/js/forgotpassword.js')

block body
  .container
    .alert-container
      if message && message.length
        .alert.alert-danger
          =message
    .row.mt-4
      .col-12
        h2
          |Salasanan palautus
    .form-group.row
      .col-12
        label(for='email')
          |Sähköpostiosoite
      .col-12
        input.form-control(id='email',name='email',type='email',required=true, placeholder='Kirjatumiseen käyttämäsi sähköposti')
    .form-group.row
      .col-12
        input#reset-password.btn.btn-lg.btn-warning(type="submit",value='Palauta salasana')