extends layout/admin-layout
include mixins/fields

block custom-head-admin
  link(rel='stylesheet', href='/css/themes/' + viewModel.theme  + '/form-reply.min.css')
  script(defer='defer',src='//cdn.metatavu.io/libs/jquery-ui/1.12.1/jquery-ui.min.js',type='text/javascript')
  script(defer='defer',src='/js/form-reply.js')

block body
  .container
    +admin-menu('replies')
  .container.form-container
    .row.mt-4
      .col-10
        h2
          |Vastaus
      .col-2
        a(href='/admin/replies/' + formReply._id + '?format=pdf', target='_blank').btn.btn-primary Lataa PDF
    .row
      .col-12
        h1
          =viewModel.title
    .row
      .col-12
        form(data-id=formReply._id)
          each section in viewModel.sections 
            .row
              section.col-12
                .row
                  .col-12
                    h2
                      =section.title
                .row
                  fieldset.col-12
                    each field in section.fields
                      if field.contexts.indexOf('MANAGEMENT') > -1
                        +field(field, formReply[field.name], !field.editable)
          .row
            section.col-12
              .row
                .col-12
                  h2 Lisätiedot
          .row
            fieldset.col-12
              each metafield in metafields
                +field(metafield, formReply[metafield.name], true)