doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Mikkelin kaupungin kesätyöhakemus
    link(rel='stylesheet', href='//cdn.metatavu.io/libs/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css')
    link(rel='stylesheet', href='/css/admin.css')
  body
    #wrapper
      // Sidebar
      #sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
            .dropdown
              button.btn.btn-primary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                | #{user.email}
                span.caret
              ul.dropdown-menu
                li
                  a(href='/changepass') Vaihda salasana
                li
                  a(href='/logout') Kirjaudu ulos
          if (user.role === 'admin')
            li
              a(href='/user/manage') Käyttäjähallinta
      #page-content-wrapper
        block content
    script(defer='defer', src='//cdn.metatavu.io/libs/jquery/3.1.1/jquery.min.js',type='text/javascript')
    script(defer='defer', src='//cdn.metatavu.io/libs/moment/2.17.1/moment-with-locales.js')
    script(defer='defer', src='//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js')
    script(defer='defer', src='/js/admin.js')
    block custom_script