extends layout/admin-layout

block custom-head-admin
  title
    |Kirjautuminen
  link(rel='stylesheet', href='/css/login.min.css')

block body
  .container
    if message && message.length
      .alert.alert-danger
        =message
    form(role='form', action='/login', method='post')
      .row.mt-4
        .col-12
          h2
            |Kirjautuminen
      .form-group.row
        .col-12
          label(for='email')
            |Sähköpostiosoite
        .col-12
          input.form-control(id='email',name='email',type='email',required=true)
      .form-group.row
        .col-12
          label(for='password')
            |Salasana
        .col-12
          input.form-control(id='password',name='password',type='password',required=true)
      .form-group.row
        .col-12
          input.btn.btn-lg.btn-primary(type="submit",value='Kirjaudu')
      .form-group.row
        .col-12
          a(href='/forgotpassword')
            small Unohtuiko salasana?