extends layout/admin-layout

block custom-head-admin
  title
    |Salasanan vaihto
  link(rel='stylesheet', href='/css/login.min.css')

block body
  .container
    if message && message.length
      .alert.alert-danger
        =message
    form(role='form', action='/resetpassword/' + encodeURIComponent(token), method='post')
      .row.mt-4
        .col-12
          h2
            |Salasanan vaihto
      .form-group.row
        .col-12
          label(for='email')
            |Salasana
        .col-12
          input.form-control(id='password-1',name='pass',type='password',required=true)
      .form-group.row
        .col-12
          label(for='password-2')
            |Salasana uudestaan
        .col-12
          input.form-control(id='password-2',name='pass2',type='password',required=true)
      .form-group.row
        .col-12
          input.btn.btn-lg.btn-primary(type="submit",value='Kirjaudu')