p
  |Olet pyytänyt salasanan palautusta 
  =viewModel.title
  |-lomakkeesta.
p
  |Voit palauttaa salasanan menemällä osoitteeseen:
  br
  a(href=resetLink)
    =resetLink
p
  |Mikäli et ole pyytänyt salasanan palautusta, voit jättää tämän viestin huomiotta.
hr
  |Tämä on automaattinen viesti. Ethän vastaa tähän viestiin.