p
  |Sinulle on luotu käyttäjätili 
  =viewModel.title
  |-sovellukseen.
p
  |Käy aktivoimassa tilisi osoitteessa:
  br
  a(href=activateLink)
    =activateLink
p
  |Tämä kutsu vanhenee 48 tunnin kuluttua.
hr
  Tämä on automaattinen viesti. Ethän vastaa tähän viestiin.